* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;}

body {
  background: #ededed;
  font-family: Arial, "Noto Sans KR", sans-serif;}

.main {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;}


.logo {
  position: absolute;
  top: 35px;
  left: 55px;
  display: flex;
  align-items: center;
  gap: 15px;}

.logo h1 {
  color: #225e59;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: -4px;}


/* 로고 동그라미 */

.logo-symbol {
  width: 40px;
  height: 65px;
  position: relative;}

.logo-symbol span {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;}

.logo-symbol span:nth-child(1) {
  top: 0;
  background: #9de5e2;}

.logo-symbol span:nth-child(2) {
  top: 14px;
  background: #75c8c1;}

.logo-symbol span:nth-child(3) {
  top: 28px;
  background: #5eaaa3;}

/* 메인 문구 */

.hero {
  padding-top: 260px;
  text-align: center;}

.sub-title {
  color: #707070;
  font-size: 75px;
  font-weight: 600;
  letter-spacing: -6px;}


/* 초록색 문구 */

.hero h2 {
  display: inline-block;
  transform: scaleY(1.0);
  margin-top: 15px;
  padding: 5px 30px 15px;
  background: #68b5af;
  color: white;
  font-size: 85px;
  font-weight: 800;
  letter-spacing: -7px;}


/* 버튼 */

.check-button {
  display: flex;
  width: 520px;
  height: 120px;
  margin: 90px auto 0;
  align-items: center;
  justify-content: center;
  background: #246c66;
  border-radius: 70px;
  color: white;
  text-decoration: none;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: -3px;}

.phone {
  display: flex;
  justify-content: center;
  margin-top: 70px;}

.phone_only img {
  width: 600px;
  height: auto;
  display: block;}